.title{
    font-family: 'Rockwell','Courier New', Courier, monospace;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.container {
    /* background-color: blueviolet; */
    width: 96%;
    margin: 10px auto;
    list-style-type: none;
    height: auto;
    min-height: 1080px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 5px;
    /* flex-wrap: wrap;
    justify-content: space-around; */
}

.containerBox {
    width: 500px;
    height: 300px;
    background-color: #ECCEAE;
    overflow-y: hidden;
    overflow-x: hidden;
    box-shadow: 0 0 10px #000000;
    border-radius: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    height: 90%;
    width: 190px;
    /* background-color: aqua; */
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    ;
}

.right {
    height: 90%;
    width: 290px;
    background-color: #fbf6e269;
    margin-left: 3px;
}

.bigtitle {
    height: 15%;
    width: 290px;
    background-color: #E68369;
    font-weight: bold;
    align-content: center;
    text-align: center;
}

.btn {
    position: relative;
    margin: 20px 0 0 55%;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: white;
}
   
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
   
.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
   
.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}
   
.btn::after {
    background-color: #fff;
}
   
.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}